.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2.5rem;
}

.form-title {
    text-align: center;
    color: var(--text-withbg-color);
    font-weight: bolder;
}

.formSubmittable hr {
    height: 4px;
    width: 100%;
    background-color: var(--text-withbg-color);
}

.formSubmittable {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30rem;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    padding: 4rem;
    background-color: var(--box-background-color);
    color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .5);
    border-radius: 20px;
}

.form-label {
    font-size: 1.1rem !important;
    font-weight: bold;
}

.formSubmittable form {
    width: 100%;
}

.blogURL {

    margin: 15px 0px 15px 0px !important;
    padding: 10px !important;
}

.formSubmittable input,
.formSubmittable textarea,
.formSubmittable select {
    margin: 15px 0px 15px 0px;
    width: 100% !important;
    border: 3px solid var(--input-field-border-color);
    border-radius: 10px;
    padding: 10px !important;
    outline: none;
    background-color: var(--box-background-color);
    color: #fff;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    resize: none;
}

.formSubmittable input:focus,
.formSubmittable textarea:focus {
    border: 3px solid var(--border-color);
    transition: border-color 0.3s ease;
}

#editor,
.ql-toolbar {
    border: 3px solid var(--input-field-border-color) !important;
    border-radius: 10px;
    color: #f1f1f1 !important;
}


#editor:focus,
.ql-toolbar:focus {
    border: 3px solid var(--input-field-border-color);
}

#editor {
    margin-top: 5px;
    height: 400px;
    overflow: auto;
}

.form-smbt-btn {
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--buttons-background-color);
    color: var(--text-withbg-color);
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    padding: 1rem;
    transition: border-color 0.3s ease;
}

textarea {
    scrollbar-width: thin;
    scrollbar-color: #444 #232323;
}

textarea::-webkit-scrollbar {
    width: 10px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 5px;
}

textarea::-webkit-scrollbar-track {
    background-color: #222;
}

/* Customize Select2 container */
.select2-container {
    background-color: var(--box-background-color);
    width: 100%;
    /* Adjust as needed */
}

.select2-container--default .select2-selection--multiple {
    background-color: var(--box-background-color) !important;
    border: 3px solid var(--input-field-border-color) !important;
    color: #f1f1f1;
    width: 100% !important;
    border-radius: 10px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    background-color: var(--box-background-color) !important;
    color: #f1f1f1 !important;
    border: none !important;
    outline: none !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    background-color: var(--box-background-color) !important;
    border-right: 1px solid var(--input-field-border-color);
    color: #f1f1f1 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border: 2px solid var(--input-field-border-color) !important;
    border-radius: 8px !important;
    background-color: none !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: var(--box-background-color) !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    color: #f1f1f1 !important;
    border: none !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__arrow {
    background-color: var(--box-background-color);
    border-left: 1px solid var(--input-field-border-color);
}

.select2-container--default .select2-results__options {
    background-color: var(--box-background-color);
    color: white;
    border: 1px solid var(--border-color);
}

/* Ensure the input field background is set to match */
.select2-container--default .select2-search--dropdown .select2-search__field {
    background-color: var(--box-background-color);
    color: #f1f1f1;
}

.select2-container--default .select2-results__option--selected {
    background-color: #275061 !important;
    color: #bdddff !important;
    font-weight: bold !important;
}

.hcaptcha {
    width: 100%;
}

.hcaptcha iframe {
    max-width: 100% !important;
}

@media (max-width: 620px) {

    .formSubmittable {
        padding: 2.5rem;
        max-width: 90% !important;
    }

    .form-title {
        font-size: 2rem;
    }

    .formSubmittable input,
    .formSubmittable textarea,
    .formSubmittable select {
        padding: 12px !important;
        max-width: 100% !important;
    }

    .form-label {
        font-size: 0.9rem;
    }

    .form-smbt-btn {
        font-size: 1.1rem;
        padding: 13px;
    }

    .alert-custom {
        max-width: 90%;
        margin-top: 3rem;
    }
}

@media (max-width:360px) {
    .formSubmittable {
        padding: 1.25rem;
    }

    .formSubmittable input,
    .formSubmittable textarea,
    .formSubmittable select {
        padding: 10px !important;
        max-width: 100% !important;
    }

    .form-label {
        font-size: 0.9rem;
    }

    .form-smbt-btn {
        font-size: 1.rem;
        padding: 11px;
    }
}