{% extends "layout.html" %}

{% block title %}
Change Password
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/submittableForms.css">
{% endblock %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block searchModal %}
{% include "search-modal.html" %}
{% endblock %}

{% block main %}
<div class="main">
    {% if error %}
    <div class="alert alert-warning alert-dismissible fade show alert-custom" role="alert">
        <strong>Failed to update the password | </strong> {{ error|safe }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible fade show alert-custom" role="alert">
        <strong> {{ success }} </strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <div class="formSubmittable">
        <h1 class="form-title">Change Password</h1>
        <hr><br>
        <form action="/account/change-password" method="post">

            <span class="form-label">Current Password: </span>
            <br>
            <input type="password" name="currentPswd" placeholder="Enter your current password"
                value="{{ currentPassword }}" required>
            <br>
            <span class="form-label">New Password</span>
            <br>
            <input type="password" name="newPswd" placeholder="Confirm password" value="{{ newPassword }}" minlength="8"
                required>
            <br>
            <span class="form-label">Confirm Password</span>
            <br>
            <input type="password" name="ConfirmNewPswd" placeholder="Confirm password" value="{{ ConfirmNewPassword }}"
                minlength="8" required>
            <br>
            <button class="form-smbt-btn" type="submit">Change Password</button>
        </form>
    </div>
</div>
{% endblock %}