<div id="searchBox" class="modal">
    <div class="modal-content">
        <button class="close-button" onclick="closeSearch()">&times;</button>
        <div class="searchBody">
            <div class="searchBox">
                <input type="text" id="searchInput" autocomplete="off" class="search"
                    placeholder="Enter title of the post">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <br>
            <div class="searchPost-row">
                <div class="searchPost-column" id="searchPost-column">
                </div>
            </div>
        </div>
    </div>
</div>